body {
    background-image: url("fondo.jpg");
    width: 100vw;
    height: 100vh;
}

h1 {
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 45px;
    text-align: center;
    padding-top: 10vh;
}

#top {
    height: 20vh;
}

#main {
    display: flex;
    flex-direction: row;
    height: 70vh;
    margin-left: 12vw;
}

#palabra {
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 60px;
    margin-top: 24vh;
}

#empezar {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 80%;
    border: solid white;
    width: 10%;
    text-align: center;
    border-radius: 5px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        background-color: rgb(1, 43, 101);
    }
    to {
        background-color:rgb(77, 158, 213);
        color:black;
    }
   
}

#instrucciones {
    color: black;
    font-size: 35px;
    width: 22vw;
    text-align: center;
    margin-top: 7vh;
}

#button-container {
    display: flex;
    flex-direction: column;
    width: 19vw;
    margin-top: 3vh;
    margin-left: 2vw;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
    font-size: 25px;
    border-style: solid;
    border-color: rgb(77, 158, 213);
    font-family: 'Ubuntu Mono', monospace;
    transition-duration: 0.5s;
}

button:hover {
    background-color: rgb(1, 43, 101);
    border: solid 2px rgb(77, 158, 213);
    color: white;
}

/* posicionamiento de los botones */

.dos {
    margin-left: 25%;
}

.tres {
    margin-left: 40%;
}

.cuatro {
    margin-left: 50%;
}

.cinco {
    margin-left: 55%;
}

/*tabla de puntuacion*/

#score {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 40px;
    margin-left: 65vw;
    margin-top: auto;
}

#acertadas {
    margin-left: 10px;
}